body{
	font-family: Helvetica, Arial, Sans-serif;
	font-size:.6rem;
}

:root {
  --white: #ffffff;
  --black: #000000;
}

a{
	color:var(--black);
	text-decoration: none;
}

a.h2:hover, a:hover h2{
	text-decoration: underline;
}

h1{

}

.h2, h2{
	font-size: .8rem;
	font-weight: bold;
}

.logo{
	width:50px;
	height:auto;
}

.header nav{
	display: none;
}

.header nav a{
	margin-left:3rem;
}

footer nav a{
	display: block;
	font-weight: bold;
	font-size:.8rem;
	margin-bottom:.2rem;
}

footer .social a{
	display: block;
	margin-bottom:.2rem;
}

.subscribe{
	width:100%;
	max-width:250px;
}
.subscribe input{
	font-family: Helvetica, Arial, Sans-serif;
	width:100%;
	border:1px solid var(--black);
	padding:.5rem;
	box-sizing: border-box;
	margin-bottom:.5rem;
}
.subscribe label{
	padding:.5rem 0;
	display: inline-block;
}
.subscribe button{
	float:right;
	background:var(--black);
	color:var(--white);
	border:none;
	padding:.5rem;
}

.post h1, .post p, .post .full.narrow{
	max-width: 500px;
	margin:0 auto 2rem auto;
}

.post h1{
	margin:0 auto;
}

.post p{
	font-size: 1rem;
	line-height: 1.5;
}

p.small{
	font-size:.6rem;
}

.image{
	background-size:cover;
	background-position: 50% 50%;
}

.post .module p{
	margin-left:0;
	margin-right:0;
	font-size:.8rem;
}

.split-left img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.split-left .first { flex: .71; }
.split-left .second { flex: 1.11; }

.split-right .first { flex: 1.11; }
.split-right .second { flex: .71; }


@media screen and (min-width:52em){
	.logo{
	width:100px;
	}
	.header nav{
		display: block;
	}

	footer{
		margin-top:14rem;
	}

	footer .social a{
	text-align: right;
	}
}